@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --main-red-color: rgb(242, 16, 61);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  overflow: hidden;
}

html,
body,
#root,
.App {
  height: 100%;
}
